<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="./assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content='IE=edge'>
    <title>Group 110</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .card-image-container {
        position: relative;
        overflow: hidden;
        padding-bottom: 66.67%; /* Maintain a 3:2 aspect ratio (adjust as needed) */
      }
      .card-image-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>

    
  </head>
  <body>    
    <header data-bs-theme="dark">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="index">ExpressMart</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" href="index">Home</a>
              <a class="nav-link" href="products">Products</a>
              <a class="nav-link" href="categories">Categories</a>
              <a class="nav-link" href="customers">Customers</a>
              <a class="nav-link" href="employees">Employees</a>
              <a class="nav-link" href="transactions">Transactions</a>
              <a class="nav-link" href="itemsInTransaction">Transaction Details</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
<script src="js/scripts_itemsInTransaction.js"></script> 


<button id="insert_itemsInTransaction_btn">+ New Transaction Detail</button>

<!-- INSERT -->
<section id="insert_itemsInTransaction_form" class="hidden_form">
    <h2>Add New Transaction Detail</h2>
    <form action="/add-itemsInTransaction" method="POST">
        <label for="transactionID">Transaction ID:</label>
        <input type="text" id="transactionID" name="transactionID" maxlength="225" required/>
    
    
        <label for="productName">Item Name:</label>
        <input type="text" id="productName" name="productName" maxlength="225" required/>
        

        <label for="quantity">Item Quantity:</label>
        <input type="number" id="quantity" name="quantity" maxlength="225" required/>

        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" maxlength="225" required/>
        <button type="submit">Submit</button>

        <button type="button" id="insert_itemsInTransaction_cancel">Cancel</button>
    </form>
</section>

<!-- UPDATE -->
<section id="update_itemsInTransaction_form" class="hidden_form">
    <h2>Update Transaction Detail</h2>
    <form action="/update-transactionDetail" method="POST">

      <!-- Item ID (remains the same) -->
      <label for="updateItemID">Item ID:</label>
      <input type="text" id="updateItemID" name="updateItemID" readonly />

      <!-- Transaction ID (remains the same) -->
      <label for="updateTransactionID">Transaction ID:</label>
      <input type="text" id="updateTransactionID" name="updateTransactionID" readonly />

      <!-- Product Name selecting from the products -->
      <label for="updateProductName">Item Name:</label>
      <input type="text" id="updateProductName" name="updateProductName" maxlength="225" required/>

      <!-- Employee ID (replaces 'Employee Email', now using employeeID instead of email) -->
     <label for="updateQuantity">Item Quantity:</label>
        <input type="number" id="updateQuantity" name="updateQuantity" maxlength="225" required/>

    <label for="updateAmount">Item Price:</label>
    <input type="updateAmount" id="updateAmount" name="updateAmount" maxlength="225" required/>

      <!-- Update Button -->
      <button type="submit">Update</button>
      <button type="button" id="update_itemsInTansaction_cancel">Cancel</button>
    </form>
</section>

  
<!-- SELECT -->
<table id="itemsInTransaction-table">

    <thead>

        {{!-- Table headers --}}
        <tr>
            <th>Item ID</th>
            <th>TransactionID</th>
            <th>Item Name</th>
            <th>Item Quantity</th>
            <th>Amount</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr 
        data-value={{this.itemID}}
        data-transaction-id ={{this.transactionID}}
        data-product-name={{this.productName}} 
        data-quantity="{{this.quantity}}" 
        data-amount={{this.amount}}
        >
            <td>{{this.itemID}}</td>
            <td>{{this.transactionID}}</td>
            <td>{{this.productName}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.amount}}</td>
            <td class="edit_itemsInTransaction_icon">✎</td>
            <td class="delete_transactionDetail_icon">🗑</td>
        </tr>
        {{/each}}
    </tbody>
</table>