<!-- transactions.hbs-->
<!-- 
//Authors: Su Youn Jeon and Xinrui Hou
// Citation for the following code is modified from the template Github repository for CS 340:
//https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/ (Code & comments were copied)
// Handle bar helper function is cited seperately from StackOverflow:
// https://stackoverflow.com/questions/15411833/using-moment-js-to-convert-date-to-string-mm-dd-yyyy 
// Date: Nov, 15th, 2023
-->

<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="./assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content='IE=edge'>
    <title>Group 110</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .card-image-container {
        position: relative;
        overflow: hidden;
        padding-bottom: 66.67%; /* Maintain a 3:2 aspect ratio (adjust as needed) */
      }
      .card-image-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>

    
  </head>
  <body>    
    <header data-bs-theme="dark">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="index">ExpressMart</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="index">Home</a>
              <a class="nav-link" href="products">Products</a>
              <a class="nav-link" href="categories">Categories</a>
              <a class="nav-link" href="customers">Customers</a>
              <a class="nav-link" href="employees">Employees</a>
              <a class="nav-link active" href="transactions">Transactions</a>
              <a class="nav-link" href="itemsInTransaction">Transaction Details</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
<script src="js/scripts_transactions.js"></script> 


<button id="insert_transaction_btn">+ New Transaction</button>

<!-- INSERT -->
<section id="insert_transaction_form" class="hidden_form">
    <h2>Add New Transaction</h2>
    <form action="/add-transaction" method="POST">
        <label for="customerEmail">Customer Email:</label>
            {{!-- <input type="email" id="customerEmail" name="customerEmail" maxlength="225" required/> --}}
            <select name="customerEmail" id="customerEmail">
              <option value="">Select a customer</option>
              {{#each Customers}}
              <option value="{{this.email}}">{{this.email}}</option>
              {{/each}}
            </select>
    
        <label for="employeeEmail">Employee Email:</label>
        {{!-- <input type="email" id="employeeEmail" name="employeeEmail" maxlength="225" required/> --}}
            <select name="employeeEmail" id="employeeEmail">
              <option value="">Select an Employee</option>
              {{#each Employees}}
              <option value="{{this.email}}">{{this.email}}</option>
              {{/each}}
            </select>

        <label for="purchaseDate">Transaction Date:</label>
        <input type="date" id="purchaseDate" name="purchaseDate" maxlength="225" value="{{formatDate purchaseDate}}" required/>

        <label for="totalAmount">Total Amount:</label>
        <input type="number" id="totalAmount" name="totalAmount" maxlength="225" min="0" step ='0.01' required/>

        <button type="submit">Submit</button>
        <button type="button" id="insert_transaction_cancel">Cancel</button>
    </form>
</section>

<!-- UPDATE -->
<section id="update_transaction_form" class="hidden_form">
    <h2>Update Transaction</h2>
    <p style="font-size: 1em; color: #333; margin-bottom: 20px;">
        You can access an UPDATE by clicking a specific "✎" from the below table.
    </p>

    <form action="/update-transaction" method="POST">
      <!-- Transaction ID (remains the same) -->
      <label for="updateTransactionID">ID:</label>
      <input type="text" id="updateTransactionID" name="updateTransactionID" readonly />

      <!-- Customer Email (remains read-only, not used in the update process) -->
      <label for="updateCustomerEmail">Customer Email:</label>
      <input type="email" id="updateCustomerEmail" name="updateCustomerEmail" maxlength="225" readonly />

      <!-- NEW UPDATE considering a different employee can update an order: Employee ID to fetch email-->
      <label for="updateEmployeeID">Employee:</label>
      <select name="updateEmployeeID" id="updateEmployeeID">
          <option value="">Select an Employee</option>
          {{#each Employees}}
          <option value="{{this.employeeID}}">{{this.email}}</option>
          {{/each}}
      </select>

      <!-- Purchase Date -->
      <label for="updatePurchaseDate">Transaction Date:</label>
      <input type="date" id="updatePurchaseDate" name="updatePurchaseDate" maxlength="225"  value="{{formatDate purchaseDate}}" required />

      <!-- Total Amount -->
      <label for="updateTotalAmount">Total Amount:</label>
      <input type="number" id="updateTotalAmount" name="updateTotalAmount" maxlength="225" min="0" step = '0.01' required />

      <!-- Update Button -->
      <button type="submit">Update</button>
      <button type="button" id="update_transaction_cancel">Cancel</button>
    </form>
</section>

  
<!-- SELECT -->
<table id="transactions-table">

    <thead>

        {{!-- Table headers --}}
        <tr>
            <th>TransactionID</th>
            <th>Customer Email</th>
            <th>Employee Email</th>
            <th>Transaction Date</th>
            <th>Total Amount</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr 
        data-value={{this.transactionID}} 
        data-customer-email="{{this.customerEmail}}" 
        data-employee-email="{{this.employeeEmail}}" 
        data-purchase-date={{this.purchaseDate}}
        data-total-amount={{this.totalAmount}}
        >
            <td>{{this.transactionID}}</td>
            <td>{{this.customerEmail}}</td>
            <td>{{this.employeeEmail}}</td>
            <td>{{formatDate this.purchaseDate}}</td>
            <td>${{this.totalAmount}}</td>
            <td class="edit_transaction_icon">✎</td>
            <td class="delete_transaction_icon">🗑</td>
        </tr>
        {{/each}}
    </tbody>
</table>